/***********************************************************************************************************************
 * @package     Magento
 * @author      Zahirul Hasan<zhasan@bdipo.com>
 * @copyright   Copyright (c) 2018 - 2019 @ Nascenia (https://www.nascenia.com/)
 **********************************************************************************************************************/

.admin__menu .item-nascenia-base.parent.level-0 > a{
    &:before {
        font-family: 'nascenia' !important;
        content: @nasc-logo-path2;
        color: rgb(27, 107, 68);
        font-size: 5em;
        margin-top: -0.4em;
        height: 100%;
    }
    &:after {
        font-family: 'nascenia' !important;
        content: @nasc-logo-path1;
        color: rgb(252, 124, 4);
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        font-size: 3em;
    }
}